.home-part{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) ), url(../../images/background.jpg);     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280vh;
    width: 100%;
}
.project_img{
    height: 300px;
    width: 500px;
}
